<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partial3/sign-head')%>
</head>
<body>
  <%- include('../partial3/sign-nav')%>

  <%- include('../partial3/sign-main')%>

  <script src="sign.js"></script>
</body>
</html>