<!-- this is the div to display the data of the user which is got from the data base -->
<div class="user_info d-flex justify-content-center align-items-center">
  <ul class="d-flex mt-3 gap-3 flex-wrap justify-content-center align-items-center">
   <li class="d-none" id="id"><%=info1[0].user_id%></li>
   <li class="info_of_user" id="userName"><%=info1[0].user_name %></li>
   <li class="info_of_user"><%=info1[0].user_address %></li>
   <li class="info_of_user"><%=info1[0].user_email %></li>
  </ul>
 </div>