<!-- the confirmed div which is displayed after the order is confirmed -->
<div class="d-flex justify-content-center align-items-center mt-3">
<div class="d-none"  id="confirmed" >
  <h2>confirmed</h2>
</div>
</div>