  <!-- This is the input field from where the user type and get the information about the dishes -->
  
  <form id="form" class="form mt-5 d-flex justify-content-center position-relative">
    <fieldset class="box d-flex justify-content-end position-relative align-items-center">
        <input id="input" type="search" class="input_field border-0" style="background-color:white;" placeholder="What would you like to eat today?">
        <button id="button" class="fa border-0" style="background-color:white;"><i class="fa-solid fa-magnifying-glass"></i></button>
    </fieldset>
  </form>