<!-- In this used a library calles method-override which will override the post method and use the delete method -->
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit" class="btn btn-dark">Log Out</button>
</form>